
			<!-- Banner -->
            <section id="banner">
                <h2>
				    <a href="https://palletsprojects.com/p/flask/">Flask</a> Alpha
				</h2>
                <p>
                <a href="https://appseed.us/app-generator">WebApp generated</a> with auth, SQLite database, ORM and basic tooling.
                </p>
                <ul class="actions special">
                    <li><a href="{{ data.github }}" class="button primary">Source Code</a></li>
                    <li><a href="https://appseed.us/apps/flask-apps" class="button">More Flask Apps</a></li>
                </ul>
            </section>

			<!-- Main -->
            <section id="main" class="container">

                <section class="box special">
                    <header class="major">
                        <h2>
                        App features
                        </h2>
                        <p>
                        Open-Source app generated in Flask
                        </p>
                    </header>
                    <span class="image featured"><img src="/static/images/pic01.jpg" alt="" /></span>
                </section>

                <section class="box special features">
                    <div class="features-row">
                        <section>
                            <span class="icon solid major fa-bolt accent2"></span>
                            <h3>Fast</h3>
                            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-chart-area accent3"></span>
                            <h3>Secure</h3>
                            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                        </section>
                    </div>
                    <div class="features-row">
                        <section>
                            <span class="icon solid major fa-cloud accent4"></span>
                            <h3>Scalable</h3>
                            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                        </section>
                        <section>
                            <span class="icon solid major fa-lock accent5"></span>
                            <h3>Open-Source</h3>
                            <p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
                        </section>
                    </div>
                </section>

                <div class="row">
                    <div class="col-6 col-12-narrower">

                        <section class="box special">
                            <span class="image featured"><img src="/static/images/pic02.jpg" alt="" /></span>
                            <h3>JAMstack</h3>
                            <p>
                            Read more about JAMstack
                            </p>
                            <ul class="actions special">
                                <li><a href="https://jamstack.org" class="button alt">Learn More</a></li>
                            </ul>
                        </section>

                    </div>
                    <div class="col-6 col-12-narrower">

                        <section class="box special">
                            <span class="image featured"><img src="/static/images/pic03.jpg" alt="" /></span>
                            <h3>Blog Articles</h3>
                            <p>
                            Related blog articles
                            </p>
                            <ul class="actions special">
                                <li><a href="https://blog.appseed.us/tag/jamstack" class="button alt">Learn More</a></li>
                            </ul>
                        </section>

                    </div>
                </div>

            </section>

			<!-- CTA -->
            <section id="cta">

                <h2>Contact</h2>
                <p>
                Get in touch with us!
                </p>

                <form>
                    <div class="row gtr-50 gtr-uniform">
                        <div class="col-8 col-12-mobilep">
                            <input type="email" name="email" id="email" placeholder="Email Address" />
                        </div>
                        <div class="col-4 col-12-mobilep">
                            <input type="submit" value="Sign Up" class="fit" />
                        </div>
                    </div>
                </form>

            </section>
